<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Коммерческое предложение</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet">
</head>
<body class="p-4">
<div class="container">
    <h2>Коммерческое предложение</h2>
    <table class="table table-bordered mt-4">
        <thead>
        <tr>
            <th>Наименование</th>
            <th>Бренд</th>
            <th>Цена</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="product : ${products}">
            <td th:text="${product.name}">Название</td>
            <td th:text="${product.brand.brandName}">Бренд</td>
            <td>
                <div class="price-format" th:text="${product.price}">0</div>
                <div th:if="${quantities[product.productId] != null and coefficientMap[product.productId] != null}" class="text-danger">
                    Цена продажи:
                    <span class="price-format"
                          th:text="${product.price * coefficientMap[product.productId]}">0</span>
                    ₸
                </div>
            </td>
            <td th:text="${quantities[product.productId]}">1</td>
        </tr>
        </tbody>
        <tfoot>
        <tr>
            <td colspan="3" class="text-end fw-bold">Общая сумма:</td>
            <td class="price-format" th:text="${totalSum}">0</td>
        </tr>
        </tfoot>

    </table>

    <a href="/proposal/pdf" class="btn btn-outline-secondary">📄 Скачать КП в PDF</a>
    <br>
    <a href="/proposal/excel-kp" class="btn btn-outline-secondary">📥 Скачать КП в Excel</a>
    <br>
    <div class="d-flex justify-content-between mt-4">
        <a href="/cart" class="btn btn-secondary">← Вернуться в корзину</a>
        <a href="/proposal/excel" class="btn btn-success">📥 Скачать смету в Excel</a>
    </div>
    <a href="/" class="btn btn-primary">← Вернуться к фильтру</a>

</div>

<div th:replace="~{fragments/history_modal :: proposalHistoryModal}"></div>


<script>
    document.querySelectorAll(".price-format").forEach(el => {
        const num = parseFloat(el.innerText.replace(",", "."));
        if (!isNaN(num)) {
            el.innerText = num.toLocaleString('ru-RU', { minimumFractionDigits: 2 });
        }
    });
</script>

</body>
</html>
